<script src="https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<style>
  .swal2-popup #swal2-content {
    font-size: large;
  }

  .swal2-popup .swal2-title{
    font-size: x-large;
  }

  #content-container{
    padding-bottom: 40px;
    padding-right: 50px;
  }

  uib-progressbar{
    width: 50%;
  }

  .hidenProgress{
    display: none;
  }

</style>


<div style="background-color: white; padding: 15px; overflow: hidden" ng-init="init()" >
  <div class="col-sm-12" style="text-align: center">
    <h2 style="margin-top: 0px !important; margin-bottom: 0px !important">
      Consulta Póliza Nomina
    </h2>
    <br />
  </div>

  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'todas')" ng-click="ObtieneFechasPagasBitacora()">
      Genera pólizas masivas
    </button>
    <button class="tablinks" onclick="openCity(event, 'individual')">
      Genera póliza por sucursal
    </button>
  </div>

  <!-- Tab content -->
  <div id="todas" class="tabcontent">
    <h3 style="margin-top: 0px !important; margin-bottom: 0px !important">
      Genera pólizas masivas todas las empresas por fecha de paga
    </h3>
    <!-- FILA DE COMBOS -->
    <div class="row">
      <div class="col-md-2">
        <label class="form-label">Año:</label>
        <select
          class="form-control"
          ng-model="selectedAnio"
          ng-options="anio.anio for anio in lstAnios"
          ng-change="ObtieneFechasPagasBitacora()"
        >
          <option value="">Seleccione Año</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-label">Mes:</label>
        <select
          class="form-control"
          ng-model="selectedMes"
          ng-options="mes.id as mes.text for mes in lstMeses"
          ng-change="ObtieneFechasPagasBitacora()"
        >
          <option value="">Seleccione Mes</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-label"></label>
        <div style="background-color: white; padding: 5px; overflow: hidden" hidden>
          <button
            class="btn btn-primary"
            ng-click=" $('#loading').modal('show');ObtieneFechasPagasBitacora()"
          >
            Consultar Periodos
          </button>
        </div>
      </div>
    </div>

    <!-- FILA TABLA DE PAGAS -->
    <div class="row" ng-show="idRol == 1 || idRol == 5 || idRol == 2">
      <div class="col-md-6" style="width: 50%; height: 50%;">
        <table
          id="tablePagas"
          class="table table-bordered table-sm"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>Periodo</th>
              <th>Fecha Paga</th>
              <th>Cerrar Paga</th>
              <!-- <th>Genera Póliza</th> -->
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in lstQuincenas">
              <td style="font-size:x-small; width: fit-content;">{{item.paga}}</td>
              <td style="font-size:x-small; width: fit-content;">{{item.fechasPaga}}</td>
              <!-- <td style="width: fit-content;" ><button type="button" class="btn btn-info btn-xs" ng-click ="$('#loading').modal('show');GeneraOrdenesMasivas(item.fechasPaga,item.tipo,item.frecuencia)" ng-disabled="item.apagado==1" >Cerrar Paga</button></td> -->
              <!-- <td style="width: fit-content;"><button type="button" class="btn btn-success btn-xs" ng-click ="$('#loading').modal('show');GeneraPolizaMasivas(item.fechasPaga,item.tipo,item.frecuencia)" ng-disabled="item.apagado==1" >Generar Pólizas</button></td> -->
              <td style="width: fit-content;" ><button type="button" class="btn btn-info btn-xs" ng-click ="$('#loading').modal('show');GeneraOrdenesMasivas(item.fechasPaga,item.tipo,item.frecuencia)" ng-disabled="item.apagado==1" >Cerrar Paga</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6" ng-show="generandoPolizas">
        <div class="panel panel-default">
          <div class="panel-heading"><h4 style="margin: 0%; text-align: center; padding-top: 20px;">  <strong>Generando póliza de </strong> {{nombreEmpresaPoliza}} </h4> </div>
          <div class="panel-body">
            <uib-progressbar value="polizaProcesada" max="100"><span style="color:white; white-space:nowrap;">{{polizaProcesada}} %</span></uib-progressbar>
           
            <!-- <div id="catalogoProgressBar" class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
          </div>
          <div class="panel-footer"></div>
        </div>
        
      </div>
    </div>

    <!-- FILA BITACORA DE NOMINA -->
    <div class="row">
        <div class="col-md-12">
            <h3>Pólizas generadas y/o solicitadas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table
            id="tableBitacora"
            class="table table-bordered"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th></th>
                <th>Sucursal</th>
                <th>Pagadora</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Tipo</th>
                <th>Número</th>
                <th>Fecha de ejecución</th>
                
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in lstBitacora">
                <td><button type="button" class="btn btn-info btn-xs" ng-click ="$('#loading').modal('show');ConsultaPoliza(item.id_work_locat,item.DSBPEncInfoEnc, item.sucursal)" >Consulta Pólizas</button></td>
                <td>{{item.sucursal}}</td>
                <td>{{item.pagadora}}</td>
                <td>{{item.mes}}</td>
                <td>{{item.anio}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.semQuin}}</td>
                <td>{{item.fechaProceso}}</td>
                
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th>Sucursal</th>
                <th>Pagadora</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Tipo</th>
                <th>Número</th>
                <th>Fecha de ejecución</th>
                
              </tr>
            </tfoot>
          </table>
        </div>
    </div>

  </div>
  <div id="individual" class="tabcontent">
    <h3 style="margin-top: 0px !important; margin-bottom: 0px !important">
      Consulta de la poliza por generase en BPRO, por sucursal y fecha de paga
    </h3>

    <!-- ROW BOTONES  -->
    <div class="row">
      <div class="col-md-2">
        <label class="form-label">Sucursal:</label>
        <select
          class="form-control"
          ng-model="empresa"
          ng-options="empresa.id as empresa.nombre for empresa in lstEmpresasPagadoras"
          ng-change="getLugaresdeTrabajo()"
        >
          <option value="">Seleccione Sucursal</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-label">Año:</label>
        <select
          class="form-control"
          ng-model="selectedAnio"
          ng-options="anio.anio for anio in lstAnios"
          ng-change="ObtieneFechasPagas()"
        >
          <option value="">Seleccione Año</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-label">Mes:</label>
        <select
          class="form-control"
          ng-model="selectedMes"
          ng-options="mes.id as mes.text for mes in lstMeses"
          ng-change="ObtieneFechasPagas()"
        >
          <option value="">Seleccione Mes</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="form-label">Periodo:</label>
        <select
          class="form-control"
          ng-model="fechaPagaSelected"
          ng-options="fPaga as fPaga.paga for fPaga in lstQuincenas"
          ng-change="LimpiaTabla()"
        >
          <option value="">Seleccione Quincena</option>
        </select>
      </div>

      <div class="col-md-2">
        <label class="form-label"></label>
        <div style="background-color: white; padding: 5px; overflow: hidden">
          <button
            class="btn btn-primary"
            ng-click=" $('#loading').modal('show');GetAsientoContable()"
          >
            Consultar
          </button>
        </div>
      </div>

      <!-- <div class="col-md-2">
        <label class="form-label"></label>
        <div style="background-color: white; padding: 5px; overflow: hidden">
          <button
            class="btn btn-primary"
            ng-click=" $('#loading').modal('show');GeneraPolizaIndividual()"
            ng-disabled="btnGeneraPoliza"
          >
            Genera Póliza
          </button>
        </div>
      </div> -->
    </div>
    <!-- ROW TABLA -->
    <div class="row">
      <div ng-show="verDetalle" class="form-group col-sm-12">
        <br />
        <div class="form-group col-sm-12">
          <table
            id="tableGastos"
            class="table table-striped table-bordered"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th>Estatus Cuenta</th>
                <th>Estatus Cartera</th>
                <th>Cuenta Contable BPRO</th>
                <th>Concepto META4</th>
                <th>Debe (Cargo)</th>
                <th>Haber (Abono)</th>
                <th>Persona</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in lstGastos">
                <td style="width: 50px;" ng-class = "{'warning': item.estatusCuenta == 'NO ACTIVA' , 'success': item.estatusCuenta == 'ACTIVA','danger': item.estatusCuenta == 'NO EXISTE' } " > <strong>{{item.estatusCuenta}}</strong> </td>
                <td style="width: 50px;" ng-class = "{'warning': item.estatusCartera == 'NO ACTIVA' , 'success': item.estatusCartera == 'ACTIVA','danger': item.estatusCartera == 'NO ES DE CARTERA' } " > <strong>{{item.estatusCartera}}</strong> </td>
                <td>{{item.cuetaContable}}</td>
                <td>{{item.concepto}}</td>
                <td style="text-align: right">{{item.debe | currency}}</td>
                <td style="text-align: right">{{item.haber | currency}}</td>
                <td style="text-align: right">{{item.id_persona_empresa}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td style="text-align: right" colspan="3">
                  <strong>Totales</strong>
                </td>
                <td style="text-align: right">
                  <strong>{{totalDebe | currency}}</strong>
                </td>
                <td style="text-align: right">
                  <strong>{{totalHaber | currency}}</strong>
                </td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="mdlLoading" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
  </div>
</div>