<div style="background-color:white; padding:15px; overflow: hidden;">
    <div  class="col-sm-12" style="text-align: center">
        <h2>Porcentaje Sucursal Servicio</h2>
        <br>
    </div> 
    <div class="row">
    <div  class="form-group col-sm-12">
        <br>
        <div  class="form-group col-sm-12">
        <table id="tableGastos" class="table table-bordered" cellspacing="0"
        width="100%">
          <thead>
            <tr>
                <th>Lugar Trabajo</th>
                <th>Porcentaje</th>
                <th>Activo</th>
                <th>
                    <button ng-disabled="item.aplicaPorcentaje == 0" type="button" class="btn btn-success" aria-expanded="false"  ng-click="ModalInsertaPorcentaje(item)">
                        Inserta Porcentaje
                    </button>
                </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in lstPorcentajes">
                <td>{{item.lugar}}</td>
                <td>{{item.porcentaje}}%</td>
                <td>{{item.estatus}}</td>  
                <td>
                    <button type="button" class="btn btn-info" aria-expanded="false"  ng-click="ModalActualizaPorcentaje(item)">
                        Actualiza Porcentaje
                    </button>
                </td>
            </tr>      
          </tbody>
        </table>
    </div>

    </div>
</div>
    </div>
      
    </div>
</div>

</div>

<!--================================ Modal para Actualizar Porcentaje ================================-->
<div class="modal fade" id="actualizaPorcentaje" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header label-mint headerModal">
                <button type="button" class="close" data-dismiss="modal" style="color: white;">
                    <i class="pci-cross pci-circle text-white"></i>
                </button>
                <h4 class="modal-title text-white" style="color: white;">Actualiza Porcentaje</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Lugar Trabajo:</label>
                        <input disabled  class="form-control" type="text" ng-model="detSucursal" >

                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Porcentaje:</label>
                        <input  class="form-control" currency-mask type="text" ng-model="detporcentaje" >
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Estatus:</label>
                        <select class="form-control" ng-model="selectedEstatusServicio"
                        ng-options="suc.id as suc.text for suc in lstServicioEstatus">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label"></label>
                        <div   style="background-color:white; padding:5px; overflow: hidden;">
                            <button class="btn btn-primary" ng-click="actualizarPorcentaje()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--================================ Modal para Insertar Porcentaje  ================================-->
<div class="modal fade" id="insertaPorcentaje" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header label-mint headerModal">
                <button type="button" class="close" data-dismiss="modal" style="color: white;">
                    <i class="pci-cross pci-circle text-white"></i>
                </button>
                <h4 class="modal-title text-white" style="color: white;">Insertar Porcentaje</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Lugar Trabajo:</label>
                        <select class="form-control" ng-model="selectedSucursal"
                        ng-options="suc.id as suc.nombre for suc in lstLugares">
                        <option value="">Seleccione Lugar Trabajo</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Porcentaje:</label>
                        <input  class="form-control" currency-mask type="text" ng-model="Insporcentaje" >
                    </div>
                    <div class="col-md-2">
                        <label class="form-label"></label>
                        <div   style="background-color:white; padding:5px; overflow: hidden;">
                            <button class="btn btn-primary" ng-click="guardarPorcentaje()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="mdlLoading" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>