<link rel="stylesheet" href="css/esquemaProrrateo.css">

<div style="background-color:white; padding:15px; overflow: hidden;">
    <div class="col-sm-12" style="text-align: center">
        <h2>Facturas Prorrateo</h2>
        <br>
    </div>
  
    <div  class="row">
        <div class="form-group col-sm-12">
            <div class="panel-body">
                <div class="form-group col-sm-12" style="height:500px; overflow:auto;">
                    <table  id="facturasPro"  class="table table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Orden Prorrateada</th>
                                <th>Empresa</th>
                                <th>Sucursal</th>
                                <th>Importe</th>
                                <th>Factura</th>
                                <th>Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstfacturas">
                                <td>{{item.orden}}</td>
                                <td>{{item.empresa}}</td>
                                <td>{{item.sucursal}}</td>
                                <td>{{item.monto | currency}}</td>
                                <td>{{item.factura}}</td>
                                <td>
                                    <button class="btn btn-circle"ng-click="Modalfacturas(item)">
                                    <i style="color: #62A3EB; font-size: 18px;"  class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="mdlLoading" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>

<!--================================ Modal para colocar imagen ================================-->

<!--================================ Modal para colocar PDF ================================-->
<div class="modal fade" id="mostrarPdf" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header label-mint headerModal">
                <button type="button" class="close" data-dismiss="modal" style="color: white;">
                    <i class="pci-cross pci-circle text-white"></i>
                </button>
                <h4 class="modal-title text-white" style="color: white;">{{modalTitle}}</h4>
            </div>
            <div class="modal-body" id="pdfReferenceContent"></div>
        </div>
    </div>
</div>
<!--================================ End Modal para para colocar PDF ================================-->