
<div style="background-color:white; padding:15px; overflow: hidden;">
    <div  class="col-sm-12" style="text-align: center">
        <h2>Reporte Balanza Gastos Corporativo</h2>
        <br>
    </div> 
    <div class="row">
        <div class="col-md-2">
            <label class="form-label">Año:</label>
            <select class="form-control" ng-model="selectedAnio"
                ng-options="anio.anio for anio in lstAnios">
                <option value="">Seleccione Año</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label">Mes:</label>
            <select class="form-control" ng-model="selectedMes"
                ng-options="mes.id as mes.text for mes in lstMeses">
                <option value="">Seleccione Mes</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="form-label">Quincena:</label>
            <select class="form-control" ng-model="selectedQuincena"
                ng-options="quincena.id as quincena.text for quincena in lstQuincenas">
                <option value="">Seleccione Quincena</option>
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label"></label>
            <div   style="background-color:white; padding:5px; overflow: hidden;">
                <button class="btn btn-primary" ng-click=" $('#loading').modal('show');getInfoResporte()">Buscar</button>
            </div>
        </div>
    </div>
    <div class="row">
    <div ng-show="verDetalle"  class="form-group col-sm-12">
        <br>
        <div  class="form-group col-sm-12">
        <table id="tableGastos" class="table table-bordered" cellspacing="0"
        width="100%">
          <thead>
            <tr>
                <th>Nivel</th>
                <th>Departamento</th>
                <th>Cuenta</th>
                <th>Descripción</th>
                <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in lstGastos">
                <td>{{item.nivel}}</td>
                <td>{{item.departamento}}</td>
                <td>{{item.cuenta}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.gasto | currency}}</td>
               
            </tr>      
          </tbody>
        </table>
    </div>

    </div>
</div>
    </div>
      
    </div>
</div>

</div>

<div id="mdlLoading" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>